/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { ProveapiCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import * as components from "../models/components/index.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ProveapiError } from "../models/errors/proveapierror.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Verify
 *
 * @remarks
 * Runs Prove verification flows in one endpoint. Set `verificationType` in the request body to select the flow.
 *
 * ## Pre-fill for consumers (identity)
 *
 * Use `verificationType` = `prefill` for consumer identity pre-fill. Requires the appropriate pre-fill product on the token.
 * Response fields vary by flow; for pre-fill, `identity` may include name, contact, address, and assurance fields, and
 * `evaluation` may include `authentication`, `identification`, and `risk` objects with a `result` (for example `pass` or `fail`).
 *
 * Illustrative **200** response body for this flow (values are synthetic, not real data):
 *
 * {
 * "success": "true",
 * "correlationId": "11111111-2222-3333-4444-555555555555",
 * "phoneNumber": "+15555550123",
 * "proveId": "22222222-3333-4444-5555-666666666666",
 * "provePhoneAlias": "SYNTHPFA00000000000000000000000000000000000000000000000000000001",
 * "clientRequestId": "client-synthetic-prefill-001",
 * "identity": {
 * "firstName": "Sample",
 * "lastName": "Person",
 * "dateOfBirth": "1990-06-15",
 * "nationalId": "900-00-0000",
 * "emails": [
 * "sample.person@example.invalid",
 * "s.person@example.invalid"
 * ],
 * "addresses": [
 * {
 * "address": "100 Synthetic St",
 * "extendedAddress": "Unit 1",
 * "city": "Exampletown",
 * "region": "EX",
 * "zipCode": "00001"
 * },
 * {
 * "address": "200 Placeholder Rd",
 * "extendedAddress": "",
 * "city": "Demo City",
 * "region": "DM",
 * "zipCode": "00002"
 * }
 * ],
 * "assuranceLevel": "AL3",
 * "reasons": ["AL3a"]
 * },
 * "evaluation": {
 * "authentication": { "result": "pass" },
 * "identification": { "result": "pass" },
 * "risk": { "result": "pass" }
 * }
 * }
 */
export function v3V3VerifyRequest(
  client: ProveapiCore,
  request?: components.V3VerifyRequest | undefined,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.V3VerifyRequestResponse,
    | errors.Error400
    | errors.Error401
    | errors.Error403
    | errors.ErrorT
    | ProveapiError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: ProveapiCore,
  request?: components.V3VerifyRequest | undefined,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.V3VerifyRequestResponse,
      | errors.Error400
      | errors.Error401
      | errors.Error403
      | errors.ErrorT
      | ProveapiError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      components.V3VerifyRequest$outboundSchema.optional().parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = payload === undefined
    ? null
    : encodeJSON("body", payload, { explode: true });

  const path = pathToFunc("/v3/verify")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const securityInput = await extractSecurity(client._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "V3VerifyRequest",
    oAuth2Scopes: [],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "401", "403", "4XX", "500", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.V3VerifyRequestResponse,
    | errors.Error400
    | errors.Error401
    | errors.Error403
    | errors.ErrorT
    | ProveapiError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.V3VerifyRequestResponse$inboundSchema, {
      key: "V3VerifyResponse",
    }),
    M.jsonErr(400, errors.Error400$inboundSchema),
    M.jsonErr(401, errors.Error401$inboundSchema),
    M.jsonErr(403, errors.Error403$inboundSchema),
    M.jsonErr(500, errors.ErrorT$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
